/* Styles for aggiungi-software.component.css */

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  padding: 0.5em;
  background-color: #0707f0;
  border-radius: 0.4em;
  text-align: center;
}

h2 {
  text-align: center;
  background-color: #007bff;
  border-radius: 0.3em;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #216278;
  border: b;
  border-radius: 0.4em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #131313;
}

input {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #0e0101;
  border-radius: 4px;
  font-size: 14px;
  background-color: #19a4d3;
  border: outset;
  border-color: #0e0101;
}

input:focus {
  border-color: #0b498c;
  outline: auto;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.error {
  color: #ff0000;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.success {
  color: #28a745;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}
