nav {
  width: 90vw;
  margin: 0 auto;
  padding: 1rem;

}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  text-decoration: none;
}

main {
  width: 90vw;
  margin: 0 auto;
  padding: 1rem;
}