:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 90vw;
  margin: 0 auto;
  padding: 1rem;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

li {
  text-decoration: none;
}

a,
a:visited {
  padding: 1em;
  margin: 0 1em;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  font-variant: small-caps;
}

a:hover {
  background-color: gray;
  color: white;
}

main {
  width: 90vw;
  margin: 0 auto;
  padding: 1rem;
}