h2 {
    font-family: monospace;
    color:  rgb(217, 217, 22);
    background-color: black;
    border-radius: 0.3em;
    margin: 1em;
}

div {
    text-align: center;
    font-family: sans-serif;
    background-color: black;
    color: rgb(217, 217, 22);
    border-radius: 0.3em;
    border-color: yellowgreen;
    margin: 0.5em;
}

button {
    background-color: yellowgreen;
    border-radius: 0.3em;
}

button:hover {
    background-color: chocolate;
    cursor: pointer;
}